@{
    ViewData["Title"] = "Potwierdź e-mail";
}

<div class="center-div-parent-container">
    <div class="center-div-container">
        <div class="card card-border-top">
            <h3 class="card-header bg-transparent mt-3 pb-3 text-center">@ViewBag.Title</h3>
            <div class="card-body">                  
                <div class="alert alert-success text-center" role="alert">
                    <strong>Twoje konto zostało utworzone.</strong><br />
                    Wysłaliśmy do Ciebie e-mail z linkiem aktywacyjnym. <br />
                    Sprawdź swoją skrzynkę i powierdź e-mail!
                </div>
            </div>
        </div>
    </div>
</div>
